// General ---------------------------------------
.titulo-principal__numero > span
  color: $color-sistema-texto 
.pl-4
  padding-left: 1.5rem

// Bloque texto ----------------------------------
.bloque-texto-a.color-primario
  background-color: $color-primario
.bloque-texto-a.color-primario:before
  background-color: #E8E8E8
.bloque-texto-a.color-primario-invertido, .bloque-texto-a.color-acento-contenido
  background-color: #E8E8E8
.bloque-texto-a.color-primario-invertido:before
  background-color: $color-primario

// Background Color ------------------------------
.bg-primario-op25
  background-color: #17C87840 !important 
.bg-secundario-op25
  background-color: #E2F6C640 !important 
.bg-acento-contenido
  background-color: $color-acento-contenido
.bg-amarillo-claro
  background-color: #F1D54E33
.bg-gris
  background-color: #EEF0F2
.bg-verde-claro
  background-color: #E2F6C6
.bg-verde-degradado
  background: rgb(23,200,120)
  background: linear-gradient(180deg, rgba(23,200,120,1) 52%, rgba(21,165,100,1) 100%)
// Borders ---------------------------------------
.borde-acento-contenido-izq
  border-left: 4px solid $color-acento-contenido
.borde-verde
  border: solid 3px #29C77B

// Tablas
.tabla-a th
  border: solid 1px $white
.tabla-a tr.bg-color-acento-contenido
  background-color: $color-acento-contenido 

// Listas
.fas.fa-angle-right.verde
  color: #17C878