.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important
.titulo-principal__numero span
  color: $color-sistema-texto !important
.lista-ul li > i:first-of-type, .lista-ul--separador li > i:first-of-type, .lista-ul--color li > i:first-of-type
  color: $color-secundario
.bloque-texto-a.color-acento-contenido:before
  background-color: #E8E8E8
.bg-acento-contenido
  background-color: $color-acento-contenido
.bg-acento-contenido-op70
  background-color: rgba(254, 202, 46, 0.7)
.bg-acento-contenido-op40
  background-color: rgba(254, 202, 46, 0.5)
.bg-acento-contenido-op20
  background-color: rgba(254, 202, 46, 0.2)
  border-radius: 15px
.bg-color-secundario-op40
  background-color: rgba(77, 208, 225, 0.4) !important
.bg-color-secundario-op25
  background-color: rgba(77, 208, 225, 0.25) !important
.bg-color-secundario-op15
  background-color: rgba(77, 208, 225, 0.15) !important
.bg-color-secundario-op10
  background-color: rgba(77, 208, 225, 0.10) !important
.bg-amarillo-claro
  background-color: #FFFAE8
.borde-gris
  border: 3px solid #F6F6F6
.borde-izq-amarillo
  border-left: 19px solid #FFD947